
@using FoxClub.ViewModels
@model IndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <img src="~/greenfox.png"></img>
</head>
<body>

    <form action="login" method="post">

        <div class="form">
            <div class="title">Fox Club</div>
            
            
            <li><a href="http://localhost:5277/home/login">Login</a></li>
            <h1>@Model.MyFoxService.CurentFoxa.Name</h1>
    </form>

    @foreach(var item in Model.MyFoxService.ListOfFOxes)
    {
        <h3>@item.Name</h3>
        
    }


</body>
</html>