
@using FoxClub.Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <img src="~/greenfox.png"></img>
</head>
<body>

    <form action="login" method="post">

        <div class="form">
            <div class="title">Fox Club</div>

            <div class="subtitle">Please enter your information:</div>

            <div class="input-container ic1">
                <input id="Name" name="name" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="Name" class="placeholder">Name</label>

                <button type="submit" class="submit">submit</button>
            </div>
        </div>
    </form>

</body>
</html>
